<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>ARM64</Platform>
    <PlatformTarget>ARM64</PlatformTarget>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>artifacts\publish\win-arm64\</PublishDir>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishSingleFile>false</PublishSingleFile>
    <DeleteExistingFiles>false</DeleteExistingFiles>
  </PropertyGroup>
</Project>
