<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x86</Platform>
    <PlatformTarget>x86</PlatformTarget>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>artifacts\publish\win-x86\</PublishDir>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishSingleFile>false</PublishSingleFile>
    <DeleteExistingFiles>false</DeleteExistingFiles>
  </PropertyGroup>
</Project>
