<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <PlatformTarget>x64</PlatformTarget>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishDir>E:\SoftwareBuild\Vidvix\</PublishDir>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <TargetFramework>net8.0-windows10.0.19041.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
    <EnableMsixTooling>true</EnableMsixTooling>
    <PublishReadyToRun>false</PublishReadyToRun>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishSingleFile>true</PublishSingleFile>
    <DeleteExistingFiles>false</DeleteExistingFiles>
  </PropertyGroup>
</Project>
